### Python Basics

In [1]:
1 + 2

3

In [2]:
4 % 2

0

In [3]:
4 / 2

2.0

In [4]:
5 // 2

2

In [5]:
5 / 2

2.5

In [6]:
#BODMAS--Bracket,Off,Division,Multiplication,Subraction
5+3*2

11

In [7]:
type(4/2)

float

In [8]:
type(2)

int

In [9]:
type('k')

str

In [10]:
type('shreevasa')

str

In [11]:
a = 10
b = 20
a + b

30

In [12]:
c = a+b
c

30

In [13]:
type(c)

int

In [14]:
True or False

True

In [15]:
True and False

False

In [16]:
5 or 2

5

In [17]:
1 | 4

5

In [18]:
True | False

True

In [19]:
a = 10
b = 20
a+b>30 | a-b<10

True

In [20]:
a = 10
b = 20
a+b>30 or a-b<10

True

In [21]:
### Strings

In [22]:
type('shreevasa')

str

In [23]:
str(1) #typecasting

'1'

In [27]:
str1 = "shreevasa is good boy" #never use reserved keyword while naming the variable
str1

'shreevasa is good boy'

In [28]:
str(100) #converts to string

'100'

In [29]:
print(str1)

shreevasa is good boy

In [30]:
str1 = "A good boy"
str2 = "A bad boy"

In [32]:
print(str1)
print(str2)

A good boy
A bad boy

In [34]:
str1+" "+str2

'A good boy A bad boy'

In [35]:
name = input("Enter your name?")
print(name)

Enter your name?shreevasa
shreevasa

In [42]:
### Add 2 numbers
a = float(input("Enter number 1: "))
b = float(input("Enter number 2: "))
c = a+b
print("the output is",c)

Enter number 1: 23
Enter number 2: 34
the output is 57.0

In [48]:
### String formating
first_name = input("what is your first name? ")
last_name = input("what is your last name? ")
print("My first name is {} and last name is {}".format(first_name,last_name))

what is your first name? shreevasa
what is your last name? tantry
My first name is shreevasa and last name is tantry

In [52]:
### String formating
first_name = input("what is your first name? ")
last_name = input("what is your last name? ")
print("My first name is {fname} and last name is {lname}".format(fname=first_name,lname=last_name))

what is your first name? Shreevasa
what is your last name? tantry
My first name is Shreevasa  and last name is tantry

### variable dynamic typing

In [57]:
a=10
type(a)

int

In [58]:
"shreevasa"+' 1'

'shreevasa 1'

In [59]:
### Conditional statements
## if and elif

In [67]:
a = int(input("Enter the number1 "))
b = int(input("Enter the number2 "))
c = a-b
print(c)
if c<0:
    print("Negative number!!")
elif c==0:
    print("zero")
else:
    print("positive")

Enter the number1 23
Enter the number2 34
-11
Negative number!!

#### Data structure
1. list
2. tuple
3. string
4. dictionary
5. sets

In [79]:
lst = [1,2,3,4,'shreevasa']
lst

[1, 2, 3, 4, 'shreevasa']

In [80]:
lst[4]

'shreevasa'

In [81]:
list((1,2,3,4,'shreevasa'))

[1, 2, 3, 4, 'shreevasa']

In [82]:
lst.append(2)

In [83]:
lst

[1, 2, 3, 4, 'shreevasa', 2]

In [84]:
lst.append((7,8,9))

In [85]:
lst

[1, 2, 3, 4, 'shreevasa', 2, (7, 8, 9)]

In [86]:
lst.append("inueron")

In [87]:
lst

[1, 2, 3, 4, 'shreevasa', 2, (7, 8, 9), 'inueron']

In [88]:
lst.count(2)

2

In [89]:
lst.count(3)

1

In [90]:
#Indexing

In [91]:
str1 = "Shreevasa tantry"
str1[0]

'S'

In [92]:
str1[-1]

'y'

In [94]:
str1[::-1]

'yrtnat asaveerhS'

In [96]:
str1[0]='s' #elemets of the string are immutable

TypeError: 'str' object does not support item assignment