In [59]:
## Encapsulation
## data binding

In [60]:
## Overrloading happens in same class
## overriding happens oin difference class
## object class is the parent class of all the class

In [61]:
## Dynamic Extension

In [67]:
class Dog:
    def __init__(self, name, year_of_birth, breed):
        self._name = name
        self._year_of_birth = year_of_birth
        self._breed = breed
        
    def __str__(self):
        return "%s is a %s born in %d." % (self._name,self._breed,self._year_of_birth)
    
kudrjavka = Dog("Kudrujavka", 1954,"Laika")

In [68]:
print(kudrjavka)

Kudrujavka is a Laika born in 1954.

In [75]:
class Student:
    def __init__(self, anagraphic, student_id):
        self._anagraphic = anagraphic
        self._student_id = student_id
    def __str__(self):
        return str(self._anagraphic)+ " student ID : %d" % self._student_id

In [76]:
alec_student = Student("xyz",1)
kudrjavka_student = Student(kudrjavka, 2)

In [78]:
print(alec_student)
print(kudrjavka_student)

xyz student ID : 1
Kudrujavka is a Laika born in 1954. student ID : 2

In [79]:
###########################################

In [80]:
## Polymorphism and Docktype

In [82]:
def summer(a, b):
    return a+b

print(summer(1,1))
print(summer([1,2,3],[2,4,4]))
print(summer("Shreevasa ","Tantry"))

2
[1, 2, 3, 2, 4, 4]
Shreevasa Tantry

In [86]:
def mathematical_operation(var1 = 5,var2 = 7, operation = '+'):
    if operation == '+':
        print(var1+var2)
    if operation == '-':
        print(var1-var2)
mathematical_operation(var1=1, var2=7,operation='+')
mathematical_operation()

8
12

In [89]:
# Task
# crate a student calss and having 
# name,surname,year of birth, classs
# implement __str__
# another school class
# inheriting studnet class
# school name and list of 10 students
# you are supposed to ask abt thier details and assign it into the class

In [99]:
import pandas as pd
class student:
    def __init__(self):
        self.name = input("Enter student name :")
        self.surname = input("Enter surname")
        self.yob = input("Enter year of birth")
        self.std = input("Enter class of the studnet")
class school(student):
    def __init__(self,*args):
        super().__init__(*args)
        self.school = input("enter school name")
        
    def __str__(self):
        return "Name :"+self.name+"surname :"+self.surname+"yob"+self.yob+"std :"+self.std+"school"+self.school
no_of_std = int(input("Enter number of students"))
x = []
for i in range(no_of_std):
    school_obj = school()
    x.append(school_obj)
df = pd.DataFrame.from_records([s.__dict__ for s in x])
df

Enter number of students1
Enter student name :asdfg
Enter surnamesdfg
Enter year of birth12
Enter class of the studnetsdf
enter school namesdf

    name surname yob  std school
0  asdfg    sdfg  12  sdf    sdf

In [100]:
############################################################

In [ ]:
# Files

In [110]:
%%writefile test.txt
hello, this is a quick start to python

Overwriting test.txt

In [111]:
pwd()

'E:\\MLMaster_ineuron'

In [112]:
myfile = open('test.txt')

In [113]:
myfile.read()

'hello, this is a quick start to python\n'

In [109]:
myfile.read()

''

In [114]:
myfile.seek(20)

20

In [115]:
myfile.read()

'ck start to python\n'

In [116]:
myfile.seek(0)

0

In [117]:
myfile.read()

'hello, this is a quick start to python\n'

In [131]:
my_file = open('test.txt','w+')

In [132]:
my_file.write("this is new line\n")

17

In [133]:
my_file.seek(0)

0

In [134]:
my_file.read()

'this is new line\n'

In [135]:
my_file.write("this is new 2nd line")

20

In [136]:
my_file.seek(0)

0

In [137]:
my_file.read()

'this is new line\nthis is new 2nd line'

In [138]:
for line in open('test.txt'):
    print(line)

this is new line

this is new 2nd line

In [139]:
###### String IO

In [140]:
from io import StringIO

In [141]:
message = 'this is just a k string'

In [142]:
f = StringIO(message)

In [151]:
f.read()

'this is just a normal string'

In [152]:
f.seek(0)

0