In [104]:
### list comprehension

lst = [1,2,3,4]
lst1 = []
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

In [2]:
[i ** 2 for i in lst] ### 4---5 lines codes are reduced to 1 lin

[1, 4, 9, 16]

In [3]:
### tuples

In [4]:
t = tuple([1,2,3,4,5])

In [5]:
t[1]

2

In [6]:
t[::-1]

(5, 4, 3, 2, 1)

In [7]:
type

type

In [8]:
type(t)

tuple

In [9]:
# tuples are immutable

In [12]:
#t[1]=20 it is not possible

In [17]:
l = [1,2,3,4,5]
[i for i in l]

[1, 2, 3, 4, 5]

In [20]:
t = (1,2,3,4,5,2,3,4,5,6)
t.index(6)

9

In [21]:
t.count(2)

2

In [23]:
type((1,2,3,4,5))

tuple

In [24]:
##Sets
## unorded collection of unique elements

In [25]:
x = set()

In [26]:
type(x)

set

In [30]:
set((1,2,3,4,3,4,5,6,7,8,5))

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
x = {1,2,3,3,4,5,6,7,5,3,33,4,5,5}
x

{1, 2, 3, 4, 5, 6, 7, 33}

In [33]:
type(x)

set

In [34]:
x.add(10)

In [38]:
x

{1, 2, 3, 4, 5, 6, 7, 10, 33}

In [36]:
x

{1, 2, 3, 4, 5, 6, 7, 10, 33}

In [47]:
type({1})

set

In [48]:
x = set()

In [49]:
x

set()

In [51]:
x.add(1)

In [52]:
x

{1}

In [62]:
x1 = {1,2,3,4,5}
x2 = {2,3,4,5,6,7}

In [56]:
x1.add(6)

In [57]:
x1

{1, 2, 3, 4, 5, 6}

In [58]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [59]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [60]:
x1.intersection_update(x2)

In [61]:
x1

{2, 3, 4, 5, 6}

In [63]:
x1.difference(x2)

{1}

In [64]:
x1

{1, 2, 3, 4, 5}

In [65]:
x2

{2, 3, 4, 5, 6, 7}

In [69]:
x1 = {3,4,5}
x2 = {1,2,3,4,5,6,7}

In [70]:
x1

{3, 4, 5}

In [71]:
x2

{1, 2, 3, 4, 5, 6, 7}

In [72]:
x1.issubset(x2)

True

In [73]:
x2.issubset(x1)

False

In [74]:
x2.issuperset(x1)

True

In [75]:
#Dictonary

In [76]:
var = {1:'shreevasa',2:'tantry','location':'padoor'}

In [77]:
type(var)

dict

In [78]:
var[1]

'shreevasa'

In [79]:
var[2]

'tantry'

In [80]:
var['location']

'padoor'

In [83]:
var.items()

dict_items([(1, 'shreevasa'), (2, 'tantry'), ('location', 'padoor')])

In [84]:
var.keys()

dict_keys([1, 2, 'location'])

In [85]:
var.values()

dict_values(['shreevasa', 'tantry', 'padoor'])

In [87]:
list(var.values())[0]

'shreevasa'

In [88]:
var.get('location')

'padoor'

In [1]:
my_dict = {'key1':123,'key2':[12,23,34],'key3':['item1','item2','item3']}

In [2]:
my_dict['key3'][-1]

'item3'

In [3]:
my_dict['key2'][-2]

23

In [4]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [5]:
d = {}
type(d)

dict

In [6]:
d

{}

In [7]:
d['animal'] = 'xyz'

In [8]:
d

{'animal': 'xyz'}

In [13]:
my_dict['key3'][0].upper()

'ITEM1'

In [14]:
my_dict

{'key1': 123, 'key2': [12, 23, 34], 'key3': ['item1', 'item2', 'item3']}

In [15]:
my_dict['key4'] = 24

In [17]:
my_dict

{'key1': 123,
 'key2': [12, 23, 34],
 'key3': ['item1', 'item2', 'item3'],
 'key4': 24}

In [18]:
#nested dictionaries

In [24]:
d = {'key1':{'nested':{'subnestkey':'value'}}}

In [26]:
d['key1']['nested']['subnestkey']

'value'

In [27]:
### dictionary comprehension

In [28]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [29]:
### Functions

In [35]:
def greeting():
    print("Hello welcome to ml course!")

In [36]:
greeting()
greeting()
greeting()
greeting()
greeting()

Hello welcome to ml course!
Hello welcome to ml course!
Hello welcome to ml course!
Hello welcome to ml course!
Hello welcome to ml course!

In [37]:
### Sum of all even number

In [44]:
def even_odd_sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2 == 0:
            even_sum+=i
        else:
            odd_sum+=i
    return even_sum,odd_sum

In [45]:
ev,odd = even_odd_sum(list(range(10)))

In [46]:
ev

20

In [47]:
odd

25

In [57]:
lst1 = [2,3,4,5,6,7]
lst2 = [6,7,8,9,3,4]


def listadd(lst1,lst2):
    lst = [lst1[i]+lst2[i] for i in range(len(lst1))]
    print(lst)
listadd(lst1,lst2)

[8, 10, 12, 14, 9, 11]