In [1]:
# iterators and generators

In [8]:
for i in [1,2,3,4,5]: #list is iterable
    print(i)

1
2
3
4
5

In [9]:
for i in "shreevasa":
    print(i)

s
h
r
e
e
v
a
s
a

In [10]:
for i in (1,2,3,4,5,6):
    print(i)

1
2
3
4
5
6

In [11]:
# ITERATORS

In [12]:
#iterators can be created on iterable objects

In [28]:
#lazy evalutaion
a = iter([1,2,3,4,5])
a

In [29]:
type(a)

list_iterator

In [27]:
next(a)

1

In [30]:
for i in a:
    print(i)

1
2
3
4
5

In [31]:
#generator

In [51]:
def gencubes(n):
    for num in range(n):
        yield num**3
        print('something')

In [52]:
n = 10
gencubes(n)

In [54]:
for i in gencubes(n):
    print(i)

0
something
1
something
8
something
27
something
64
something
125
something
216
something
343
something
512
something
729
something

In [55]:
#### map()

In [56]:
def square_num(x):
    return x*x
square_num(5)

25

In [59]:
a = map(square_num,[1,2,3,4,5,6,7])

In [60]:
a

In [61]:
list(a)

[1, 4, 9, 16, 25, 36, 49]

In [62]:
#cel to faren

In [65]:
list(map(lambda x:x*x,[1,2,4,]))

[1, 4, 16]

In [76]:
x = lambda a : a + 10

In [77]:
x(5)

15

In [79]:
### reduce()

In [80]:
from functools import reduce

In [86]:
max_find = lambda a,b: a if (a>b) else b

In [89]:
max_find(10,12)

12

In [90]:
reduce(max_find,[1,2,3,4,5,7])

7

In [91]:
sumOfnum = lambda a,b:a+b

In [92]:
reduce(sumOfnum,range(10))

45

In [93]:
### filter()

In [105]:
list(map(lambda a,b:a+b,[1,2,3],[5,6,7]))

[6, 8, 10]

In [106]:
def even_check(num):
    if num % 2 == 0:
        return True

In [110]:
lst = [1,2,3,4,5,6]
list(filter(even_check,lst))

[2, 4, 6]