## Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/MLMaster_ineuron/pandas/examples/ex1.csv')

In [3]:
df.head(5) #Top 5 rows

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
type(df) #min 2 feature and any number of rows

pandas.core.frame.DataFrame

In [5]:
type(df['a'])

pandas.core.series.Series

In [6]:
list(df['a']) #converting the series to list

[1, 5, 9]

In [7]:
df.tail()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
df2 = pd.read_table('/MLMaster_ineuron/pandas/examples/test.tsv')

In [9]:
df2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [10]:
df2 = pd.read_csv('/MLMaster_ineuron/pandas/examples/test.tsv',sep = "\t")

In [11]:
df2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [12]:
df = pd.read_csv('/MLMaster_ineuron/pandas/examples/ex1.csv',header="infer")

In [13]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
df = pd.read_csv('/MLMaster_ineuron/pandas/examples/ex1.csv',header=None)

In [15]:
df

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [16]:
df = pd.read_csv('/MLMaster_ineuron/pandas/examples/ex1.csv',header=None,names = ['A','B','C','D','E'],usecols=['A','E'])

In [17]:
df

   A        E
0  a  message
1  1    hello
2  5    world
3  9      foo

In [18]:
parsed = pd.read_csv('/MLMaster_ineuron/pandas/examples/csv_mindex.csv',index_col=['key1','key2'])

In [19]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [20]:
parsed = pd.read_csv('/MLMaster_ineuron/pandas/examples/csv_mindex.csv',index_col=['key1','key2'])

In [21]:
df4 = pd.read_csv('/MLMaster_ineuron/pandas/examples/ex4.csv',skiprows = [0,2,3])

In [22]:
df4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
df5 = pd.read_csv("/MLMaster_ineuron/pandas/examples/ex5.csv")

In [24]:
df5

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [41]:
pd.isnull(df5).sum()

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [26]:
df6 = pd.read_excel("/MLMaster_ineuron/pandas/examples/ex1.xlsx")

In [27]:
df6

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [28]:
pip install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.3.3; however, version 21.0 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [29]:
url = "https://www.basketball-reference.com/leagues/NBA_2015.html"
table_info = pd.read_html(url)

In [34]:
pd.DataFrame(table_info[0])

,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54
9,Milwaukee Bucks*,41,41,.500,12.0,97.8,97.4,-0.09
10,Indiana Pacers,38,44,.463,15.0,97.3,97.0,-0.23
11,Detroit Pistons,32,50,.390,21.0,98.5,99.5,-1.39
12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,Atlanta Hawks*,60,22,.732,—,102.5,97.1,4.75
14,Washington Wizards*,46,36,.561,14.0,98.5,97.8,0.17
15,Miami Heat,37,45,.451,23.0,94.7,97.3,-2.92
16,Charlotte Hornets,33,49,.402,27.0,94.2,97.3,-3.44
17,Orlando Magic,25,57,.305,35.0,95.7,101.4,-5.87

In [37]:
table_info[0]['Eastern Conference']

0        Atlantic Division
1         Toronto Raptors*
2          Boston Celtics*
3           Brooklyn Nets*
4       Philadelphia 76ers
5          New York Knicks
6         Central Division
7     Cleveland Cavaliers*
8           Chicago Bulls*
9         Milwaukee Bucks*
10          Indiana Pacers
11         Detroit Pistons
12      Southeast Division
13          Atlanta Hawks*
14     Washington Wizards*
15              Miami Heat
16       Charlotte Hornets
17           Orlando Magic
Name: Eastern Conference, dtype: object

In [38]:
table_info[0][["W","L"]]

                     W                   L
0    Atlantic Division   Atlantic Division
1                   49                  33
2                   40                  42
3                   38                  44
4                   18                  64
5                   17                  65
6     Central Division    Central Division
7                   53                  29
8                   50                  32
9                   41                  41
10                  38                  44
11                  32                  50
12  Southeast Division  Southeast Division
13                  60                  22
14                  46                  36
15                  37                  45
16                  33                  49
17                  25                  57

In [42]:
df6.columns #get the columns

Index(['Unnamed: 0', 'a', 'b', 'c', 'd', 'message'], dtype='object')